<div class="splash">
  <h1>Quiz Pop</h1>
  <button type="button" class="btn btn-info" data-toggle="dropdown" aria-expanded="false">
    <%= link_to "Play with Facebook", "/auth/facebook", id: "sign_in" %>
  </button>
  <button type="button" class="btn btn-danger" data-toggle="dropdown" aria-expanded="false">Play With Google+</button>
</div>

<%= render "users/shared/links" %>
