<div class="col-lg-3 col-md-4 hidden-sm hidden-xs">
  <ul class="navigation">
    <li><a class="btn btn-lg btn-warning" href="/statistics/show">
      <i class="fa fa-bar-chart fa-2x pull-left"></i> Stats
    </a></li>

    <li><a href="#demo4" class="btn btn-lg btn-success" data-toggle="collapse" data-parent="#MainMenu"> <i class="fa fa-question fa-2x pull-left"></i>Submit Question</a></li>
    <div class="collapse" id="demo4">
      <li><a class="btn btn-md btn-default" href="/categories/1">Entertainment</a></li>
      <li><a class="btn btn-md btn-primary" href="/categories/2">Art</a></li>
      <li><a class="btn btn-md btn-default" href="/categories/3">History</a></li>
      <li><a class="btn btn-md btn-primary" href="/categories/4">Science</a></li>
      <li><a class="btn btn-md btn-default" href="/categories/5">Geography</a></li>
      <li><a class="btn btn-md btn-success" href="/categories/6">Sports</a></li>
    </div>
    <li><a class="btn btn-lg btn-primary" href="/users/edit">
      <i class="fa fa-pencil fa-2x pull-left"></i> Edit Profile
    </a></li>
    <!-- <li><a class="btn btn-lg btn-default" href="#">
      <i class="fa fa-cog fa-2x pull-left"></i> Settings
    </a></li> -->
    <li><a class="btn btn-lg btn-danger" href="/users/sign_out">
      <i class="fa fa-sign-out fa-2x pull-left"></i> Logout
    </a></li>
  </ul>
</div>
