          <div class="col-lg-3 col-md-4 hidden-sm hidden-xs">
            <ul class="navigation">
              <li><a class="btn btn-lg btn-warning" href="#">
                <i class="fa fa-bar-chart fa-2x pull-left"></i> Stats
              </a></li>
              <li><a class="btn btn-lg btn-success" href="#" id="submit-question">
                <i class="fa fa-question fa-2x pull-left"></i>
                Submit Question
              </a>
              <ul id="categories-dropdown">
                <li><a href="/categories/1">Entertainment</a></li>
                <li><a href="/categories/2">Art</a></li>
                <li><a href="/categories/3">History</a></li>
                <li><a href="/categories/4">Science</a></li>
                <li><a href="/categories/5">Geography</a></li>
                <li><a href="/categories/6">Sports</a></li>

              </ul>
            </li>
            <li><a class="btn btn-lg btn-primary" href="/users/edit">
              <i class="fa fa-pencil fa-2x pull-left"></i> Edit Profile
            </a></li>
            <li><a class="btn btn-lg btn-default" href="#">
              <i class="fa fa-cog fa-2x pull-left"></i> Settings
            </a></li>
            <li><a class="btn btn-lg btn-danger" href="/users/sign_out">
              <i class="fa fa-sign-out fa-2x pull-left"></i> Logout
            </a></li>
          </ul>
        </div>