
  <div class="dashboard">
      <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
        <ul class="navigation">
          <li><a class="btn btn-lg btn-warning" href="#">
                <i class="fa fa-bar-chart fa-2x pull-left"></i> Stats
          </a></li>
          <li><a class="btn btn-lg btn-success" href="#">
            <i class="fa fa-question fa-2x pull-left"></i> Submit Question
          </a></li>
          <li><a class="btn btn-lg btn-primary" href="#">
            <i class="fa fa-pencil fa-2x pull-left"></i> Edit Profile
          </a></li>
          <li><a class="btn btn-lg btn-default" href="#">
            <i class="fa fa-cog fa-2x pull-left"></i> Settings
          </a></li>
          <li><a class="btn btn-lg btn-danger" href="#">
            <i class="fa fa-sign-out fa-2x pull-left"></i> Logout
          </a></li>
        </ul>
      </div>

      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <h1>Ongoing <button class="btn btn-success">New Game +</button></h1>
        <div class="game-list">
         <div class="game-entry">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                </span>
                User Name
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8" style="text-align: right">
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash pull-left"></i> Forfeit
              </a>
              <a class="btn btn-warning" href="#">
                <i class="fa fa-bar-chart pull-left"></i> Stats
              </a>
              <a class="btn btn-success" href="#">
                <i class="fa fa-play pull-left"></i> Play
              </a>
            </div>
         </div>
          <div class="game-entry">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                </span>
              User Name
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8" style="text-align: right">
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash pull-left"></i> Forfeit
              </a>
              <a class="btn btn-warning" href="#">
                <i class="fa fa-bar-chart pull-left"></i> Stats
              </a>
              <a class="btn btn-default" href="#" aria-disabled="true">
                <i class="fa fa-clock-o pull-left"></i> Opponents Turn
              </a>
            </div>
          </div>
        </div>
        <h1>Completed</h1>
        No Games Finished!
      </div>
  </div>
