<h1>Game</h1>
 
<table>
  <tr>
    <th>Completed</th>
  </tr>
 
<!--   <% @games.each do |game| %>
  	<%= render 'show' %>
    <tr>
      <td><%= game.completed %></td>
    </tr>
  <% end %> -->
</table>