<div class="splash">
  <h1>Quiz Pop</h1>
  <button type="button" class="btn btn-info" data-toggle="dropdown" aria-expanded="false">
    <a href="#" onclick="FB.login()">Play with Facebook</a>
  </button>
  <button type="button" class="btn btn-danger" data-toggle="dropdown" aria-expanded="false">Play With Google+</button>
</div>
