<div class="container">
	<div class="jumbotron">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Let's get you some coins!</h3>
			</div>
			<div class="panel-body">
				<h5>How many coins would you like?</h5>
				<div>
					
				</div>
			</div>
		</div>
	</div>
</div>
